body {
	 background: #282828;
  	 text-align: center;
  	 color : white;
}
p {
	color : white;
}

.user{
  background-color:red;
  font-family: Verdana, Geneva, sans-serif;
  border-radius: 10px 100px / 120px;
}
.form {
  color : black;
}
.comment {
	color : black;
}

.black {
	color: #282828;
}


.glyphicon {
  color: #F76F86;
  opacity: 1;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}

.glyphicon:hover {
  opacity: 0.75;
  cursor: pointer;
}

.star-rating__checkbox {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.star-rating__star {
  display: inline-block;
  padding: 3px;
  vertical-align: middle;
  line-height: 1;
  font-size: 1.5em;
  color: #ABABAB;
  transition: color .2s ease-out;
}
.star-rating__star:hover {
  cursor: pointer;
}
.star-rating__star.is-selected {
  color: #FFD700;
}
.star-rating__star.is-disabled:hover {
  cursor: default;
}
